<hr/>
<label for="txtSearch">Search:</label> <input [(ngModel)]="searchTerm" id="txtSearch" placeholder="search" type="text" (keyup.enter)="search(searchTerm)" />
<button (click)="search(searchTerm)">Search</button>

  <ul class="person">
    <li *ngFor="let person of persons" [routerLink]="['/people',person.name]">
      <h2>{{person.name}}</h2>
      <p>{{person.about}}</p>
      <hr/>
    </li>
  </ul>
  <button [disabled]="currentPage == 0" (click)="changePage(0)">First</button> <button [disabled]="currentPage <= 0" (click)="changePage(currentPage-1)">< Previous</button>  <button [disabled]="currentPage >= totalPages" (click)="changePage(currentPage+1)">Next ></button>