<div class="container" *ngIf="person">
  <div class="card padded">
    <h2>{{person.name}}</h2>
    <p>{{person.about}}</p>
  </div>
  <div *ngIf="person.relatedArticles.length != 0">
    <h3>Related Articles</h3>
    <ul class="articles">
      <li *ngFor="let article of person.relatedArticles" class="card padded">
        <h3>{{article.title}}</h3>
        <p style="white-space:pre-wrap;color:gray">{{article.tease}}</p>
        <p><i class="material-icons" style="padding-right:15px">access_time</i>{{article.cleanDate()}}</p>
        <p><i class="material-icons" style="padding-right:15px">update</i>{{article.cleanLastUpdated()}}</p>
        <div class="card-action">
          <a [routerLink]="['/articles',article.title]" class="purple-text">Read More</a>
        </div>
      </li>
      <button class="waves-effect waves-light btn purple" [disabled]="currentPage == 0" (click)="changePage(0)">First</button>
      <button class="waves-effect waves-light btn purple" [disabled]="currentPage <= 0" (click)="changePage(currentPage-1)">< Previous</button>
      <button class="waves-effect waves-light btn purple" [disabled]="currentPage >= totalPages" (click)="changePage(currentPage+1)">Next ></button>
    </ul>
  </div>
</div>