.floaty{
    float:right; 
    position: fixed;
  left: auto;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 20%; z-index: 9999
}

header, main, footer{
    padding-left: 300px;
}

.container{
    padding-left:300px;
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .container {
    padding-left: 0;
    }
}


@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}

.side-nav{
 top: 66px;   
 height: calc(100% - 132px);
}