<div style="padding-left:25px" *ngIf="article" id="slide-out" class="side-nav fixed">
  <h4>Sections</h4>
  <ul>
    <li *ngFor="let section of article.sections">
      <a [routerLink]="[]" [fragment]="'section' + section.order">{{section.title}}</a>
    </li>
  </ul>
</div>

<div class="container" style="box-sizing: content-box">
  <div *ngIf="article" class="card padded">
    <h2>{{article.title}} </h2>
    <p style="white-space:pre-wrap;color:gray">{{article.tease}}</p>
    <div class="chip" style="cursor:pointer" [routerLink]="['/articles']" [queryParams]="{query:tag}" *ngFor="let tag of article.tags ">
      {{tag}} </div>

    <div class="card padded" *ngFor="let section of article.sections ">
      <h3 [id]="'section' + section.order">{{section.title}}</h3>
      <p [innerHtml]="section.content"></p>
      <div class="card-action">
        <a class="deep-purple-text darken-2" style="text-transform:none;display:block" *ngFor="let ref of section.references" [href]="ref.url"
          target="_parent">
        {{ref.name}} (n.d) retrieved from {{ref.url}}</a>
      </div>
    </div>

    <ul *ngFor="let personGroup of article.people">
      <li>
        <div style="text-transform: capitalize;cursor:default" class="collapsible-header"><i class="material-icons">person</i>{{personGroup.category}}</div>
        <div class="collapsible-body" style="display:block">
          <div *ngFor="let person of personGroup.elements">
            <div class="chip" style="cursor:pointer;" [routerLink]="['/people',person]">{{person}}
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul *ngFor="let articleGroup of article.articles">
      <li>
        <div style="text-transform: capitalize;cursor:default" class="collapsible-header"><i class="material-icons">description</i>{{articleGroup.category}}</div>
        <div class="collapsible-body" style="display:block">
          <div class="chip" style="cursor:pointer;display:block" *ngFor="let ag of articleGroup.elements" [routerLink]="['/articles',ag]">
            {{ag}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>