<hr/>
<label for="txtSearch">Search:</label> <input [(ngModel)]="searchTerm" id="txtSearch" placeholder="search" type="text" (keyup.enter)="search(searchTerm)"/>
<button (click)="search(searchTerm)">Search</button>

<ul class="articles">
  <li *ngFor="let article of articles" [routerLink]="['/articles',article.title]">
    <h2>{{article.title}}</h2>
    <p>{{article.tease}}</p>
    <p style="font-size:small">{{article.cleanDate()}} Last Updated: {{article.cleanLastUpdated()}}</p>
    <hr/>
  </li>
  <button [disabled]="currentPage == 0" (click)="changePage(0)">First</button> <button [disabled]="currentPage <= 0" (click)="changePage(currentPage-1)">< Previous</button>  <button [disabled]="currentPage >= totalPages" (click)="changePage(currentPage+1)">Next ></button>
</ul>